.folder {
    border: 1px solid #2827CC;
    color: #0D0D0D;
    margin: 10px;
}

.folder__header {
    display: flex;
    background-color: #46B2E0;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.folder__body {
    padding: 5px 10px;
    display: block;
}

.hide {
    display: none;
}